/* *{
  background: linear-gradient(to right, #c9d6ff, #e2e2e2); 
} */

.App {
  text-align: center;
  margin-top: 50px;
}

.form-container {
  margin-top: 30px;
}

label {
  margin-right: 10px;
}

input {
  margin-left: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}

button {
  margin-left: 10px;
  cursor: pointer;
  height: 47.2px;
  width: fit-content;
  color: black;
  border-radius: 4px;
  box-shadow: 0px 0px 8px rgba(128, 128, 128, 0.351);
  border: none;
  background-color: white;
  position: relative;
  bottom: 2px ;
  font-weight: 700;
  
}
.btn:hover {
 background-color: white; 
color: blue;
scale: 1.01;
transition: left 0.5s ease-out;
}

.clear-button {
  padding: 6px 20px;
  position: relative;
  top: 1px;
  height: 47.2px;

}

.clear-button:hover {
  background-color: red; 
 color: white;
 scale: 1.01;
 transition: left 0.5s ease-out;
}
.error {
  color: red;
  margin-top: 10px;
}

.location-info-container {
  margin-top: 20px;
}

.location-info-container>h2{
color:#0059b8
}

.map-container>iframe {
  width: 90%;
  height: 350px;
  border: 1px solid black;
  margin: 10px 10px 10px 10px;
  border-radius: 15px;
}


button:disabled {
  cursor: not-allowed;
  background-color: #ccc;
  color: #555;
}
@media (max-width: 427px) {
  label{
    font-size: 22px;
    color: #0059b8;
    
  }
  input{
    border-radius: 30px;
    padding: 20px 50px;
    font-size: 20px;
    margin-top: 10px;
  }
  button{
    margin-top: 20px;
    font-size: 20px;
    padding: 10px 30px;
  }
  .clear-button{
    position: relative;
    top: 11px;

  }
.btn{
  padding: 10px 30px;
}

  }